.ui-view-container
	.container(ui-view="")
		.row
			.col-sm-12
				h1.pagetitle All Tasks 
					a.btn.btn-primary(href="tasks/select") Get started 
						span.fa.fa-arrow-right
				ul.tasks
					li.task( ng-repeat="task in tasks",
						ng-class="{complete:task.status=='complete'}",
						ng-mouseenter="hover = true",
						ng-mouseleave="hover = false"
						)
						span
							|  {{task.name}} 
							a.btn.btn-default.btn-xs(ng-if="task.status == 'complete'" ng-click="updateTask(task._id,{status:'incomplete'})")
								span.fa.fa-undo
						a.delete.pull-right(ng-click="Tasks.destroyTask(task._id)")
							| Delete 
							span.fa.fa-trash
		.row
			.col-sm-12
				h3 Add a new task:
				form(name="newTaskForm.form",ng-submit="newTaskSubmitted()" novalidate)
					.form-horizontal
						.form-group
							label.sr-only(for="newTaskForm.taskName") Add new task:
							input.form-control(type="text",ng-model="newTaskForm.taskName", placeholder="Add new task" required)
					.form-inline
						.checkbox
							label(for="newTaskForm.taskRecurring") Is this a recurring task? 
								input.form-control(type="checkbox",ng-model="newTaskForm.taskRecurring",checked=unchecked)
						.form-group(ng-show="newTaskForm.taskRecurring")
							label Repeat every
								input.form-control(type="number", ng-model="newTaskForm.taskRecurringInterval", value="5", ng-required="newTaskForm.taskRecurring", min="1" ng-pattern="/^[1-9]*$/")
								| day
								span(ng-show="taskRecurringInterval>1") s
						button.btn(type="submit", ng-class="{'btn-success':newTaskForm.form.$valid}", ng-disabled="newTaskForm.form.$invalid") Submit
						button.btn(type="button",
							ng-class="{'btn-default':newTask.$dirty}",
							ng-disabled="newTaskForm.form.$pristine",
							ng-click="resetNewTaskForm()") Clear